certifi==2018.10.15
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
emoji==0.5.1
idna==2.7
jmespath==0.9.3
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
pyasn1==0.4.4
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.0.0
schedule==0.5.0
ujson==1.35
urllib3==1.24.2
v20==3.0.25.0
